*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    background: rgb(61,44,22);
    background: linear-gradient(0deg, rgba(61,44,22,1) 0%, rgba(0,0,0,1) 100%);
    color: #e8e8e8;
    gap:2rem;
    min-height: 100vh;

}

form {
    display: flex;
    flex-direction: column;
    gap:1rem;
    border: 1px solid #a47226;
    padding: 5rem 2rem;
    border-radius: 2rem;
    width: 40%;
}

input {
    padding: 1rem 2em;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 3em;
    font-size: 1.2rem;

}
label{
    width: 100px;
}

.input__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
button{
    padding: 1rem 1.4rem;
    border: 1px solid #a47226;
    cursor: pointer;
    transition: all 0.3s;
    border-radius:3rem;
    background-color: orange;
    color:black;
    font-size: 1.4rem;

}
button:hover {
    background-color: #171717;
    color: white;
}
nav{
    width: 100%;
    padding: 0rem 2rem;
    background-color: black;

}
ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
li{
    color: #e8e8e8;
    list-style: none;
    font-style: normal;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
    color: #e8e8e8;
}
img{
    width: 200px;
    height: 150px;
}
.ul__container{
    display: flex;
    align-items: center;
    gap: 3rem;
}
